<div class="container">
  <mat-toolbar style="background-color: transparent;">
    <span>Create User</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" action="">
        <mat-grid-list cols="2" rowHeight="50px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="width_input">
              <mat-label>Id</mat-label>
              <input matInput type="number" formControlName="id">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="7">
            <img src="./assets/img/user_login.png" width="20%" alt="register user">
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="width_input">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="width_input">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="width_input">
              <mat-label>Sex</mat-label>
              <mat-select formControlName="sex">
                <mat-option value="Masculine">Masculine</mat-option>
                <mat-option value="Female">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="width_input">
              <mat-label>Phone</mat-label>
              <input matInput type="number" formControlName="phone">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="width_input">
              <mat-label>Country</mat-label>
              <input matInput type="text" formControlName="country">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button style="margin-right: 20px;" color="warn">Cancel</button>
            <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Acept</button>
          </mat-grid-tile>

        </mat-grid-list>

      </form>
    </mat-card-content>
  </mat-card>
</div>



